<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Witaj w zarzadzaniu książkami</h1>
    <form action="/dodawanie_ksiazek" method="POST">
        <input type="text" name="tytul" placeholder="Tytuł">
        <input type="text" name="autor" placeholder="Autor">
        <input type="text" name="isbn" placeholder="ISBN">
        <button type="submit">Dodaj książkę</button>
    </form>
</body>
</html>
